.logoinput input {
    height: 130px !important
}

.logoinput .mud-input {
    height: 150px !important
}
.logoinput .mud-input-slot {
    height: 100px !important
}

.no-border-mud-table .mud-table-cell {
    border-bottom: 0
}