@page "/"
<div class="tw-rounded-lg tw-bg-white tw-bg-opacity-0 tw-pl-10 tw-pr-10  tw-pt-10 tw-pb-5">
    <div class="tw-text-center tw-text-8xl tw-font-extrabold tw-leading-none tw-tracking-tight">
        <span class="tw-antialiased tw-decoration-clone tw-font-black tw-bg-clip-text" style="font-family:STXingkai; text-shadow:-2px 0 white,0 2px white,2px 0 white,0 -2px white; color: #10184a">
            宝可梦 相连
        </span>

    </div>
</div>
@* <div class="rounded-lg bg-white bg-opacity-0">
    <div class="text-center text-2xl font-extrabold leading-none tracking-tight">
    <span class="text-center" style="font-family:STXingkai;">相连！本站希望能成为中国最大的对战相关网站</span>
    </div>
    </div> *@

<div class="tw-mt-3 tw-p-6 tw-mb-5 tw-rounded-lg tw-bg-white tw-bg-opacity-50">
    <p class="tw-text-2xl">
        &nbsp&nbsp&nbsp&nbsp非常感谢以下用户的支持！未来会对捐赠用户开放自定义表情包以及特定表情包等功能，也希望有能力的大家对服务器的运营进行支持！
    </p>
    <p class="tw-text-2xl">
        &nbsp&nbsp&nbsp&nbsp如果有需要创建比赛的权限，欢迎加入群868805621或者联系QQ1078995020以讨论相关问题。注册不成功等问题也同样可以通过上面的方式联系到我们
    </p>
</div>
<MudSelect T="int">
    <MudSelectItem Value="1">1</MudSelectItem>
    <MudSelectItem Value="2">1</MudSelectItem>
    <MudSelectItem Value="3">1</MudSelectItem>

</MudSelect>


<div class="tw-bg-white tw-p-5  md:tw-w-3/5 sm:tw-w-10/12 tw-mx-auto  tw-rounded-sm">
    <table class="tw-table-auto tw-w-full  tw-mx-auto tw-mt-4 tw-rounded-lg">
        <thead>
            <tr>
                <th class="tw-tableheader">捐助记录</th>
                <th class="tw-tableheader">金额</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tw-p-3">JDajiao 捐助</td>
                <td class="tw-p-3">50元</td>
            </tr>
            <tr>
                <td class="tw-p-3">Cola. 捐助</td>
                <td class="tw-p-3">50元</td>
            </tr>
            <tr>
                <td class="tw-p-3">Ku.x1si0n 捐助</td>
                <td class="tw-p-3">100元</td>
            </tr>
            <tr>
                <td class="tw-p-3">发条 捐助</td>
                <td class="tw-p-3">100元</td>
            </tr>
            <tr>
                <td class="tw-p-3">干杯 捐助</td>
                <td class="tw-p-3">100元</td>
            </tr>
            <tr>
                <td class="p-3">阿苌在吗 捐助</td>
                <td class="p-3">100元</td>
            </tr>
            <tr>
                <td class="p-3">SwordKing-剑王 捐助</td>
                <td class="p-3">50元</td>
            </tr>
            <tr>
                <td class="p-3">*辉(未认领) 捐助</td>
                <td class="p-3">50元</td>
            </tr>
            <tr>
                <td class="p-3">小德贝贝 捐助</td>
                <td class="p-3">1000元</td>
            </tr>
            <tr>
                <td class="p-3">async捐助</td>
                <td class="p-3">50元</td>
            </tr>
            <tr>
                <td class="p-3">*🦌(未认领)  捐助</td>
                <td class="p-3">200元</td>
            </tr>
            <tr>
                <td class="p-3">虚拟的儍颇捐助</td>
                <td class="p-3">50元</td>
            </tr>
            <tr>
                <td class="p-3">E之终章 捐助</td>
                <td class="p-3">100元</td>
            </tr>
            <tr>
                <td class="p-3">archer 捐助</td>
                <td class="p-3">100元</td>
            </tr>
            <tr>
                <td class="p-3">pluto 捐助</td>
                <td class="p-3">88.88元</td>
            </tr>
            <tr>
                <td class="p-3">夜降 捐助</td>
                <td class="p-3">1000元</td>
            </tr>
        </tbody>
    </table>
</div>
